/*! Ванільний CSS (Vanilla CSS) */
/*? Section.jsx */
.title {
  margin-bottom: 24px;
  font-size: 48px;
  text-align: center;
  color: darkred;
}


/*? PlanesList.jsx */
.planesList {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(445px, 1fr));
  gap: 32px;
  outline: 1px solid red;
}

/** backgroundColor: '#ffdb92', // "year" до 1946 */ 
.planesItem {
  display: grid;
      gap: 12px;
      padding: 10px;
      background-color: #ffdb92;
      outline: 1px solid grey;
}
/** backgroundColor: '#d2fdbd', // "year"  1946 - 1999 - last */
.planesItem.last {
  background-color: #d2fdbd;
}
/** backgroundColor: '#d6f1ff', // "year" від 2000 - current */
.planesItem.last.current {
  background-color: #d6f1ff;
}


/*? Planes.jsx */
.planeTitle {
  margin-bottom: 12px;
      padding: 12px 16px;
      font-size: 32px;
      text-align: center;
      border-radius: 8px;
      background-color: yellow;
      color: blue;
}

.textField {

}

.imageTitles {

}

textFieldValue {

}

. actualImageBox {

}

. actualImage {

}