.Card-painting-list,
.Card-planes-list {
  width: max-content;
  margin-left: 10px;
  padding: 10px;
  outline: 1px solid red;
}

.Card-painting,
.Card-planes {
  /* width: max-content; */
  margin-bottom: 50px;
  padding: 10px;
  outline: 1px solid grey;
}

.Card-planes-description {
  width: 500px;
}